.rain {
  background-color: #102030;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
}
.rain > div {
  -webkit-animation: rain 500ms linear infinite;
          animation: rain 500ms linear infinite;
  background-color: rgba(255, 255, 255, 0.25);
  position: absolute;
  left: 0;
  top: -20vh;
  width: 2px;
  height: 20vh;
  -webkit-transform-origin: center center;
          transform-origin: center center;
}
.rain > div:nth-child(1) {
  -webkit-animation-delay: 100ms;
          animation-delay: 100ms;
  -webkit-animation-duration: 402ms;
          animation-duration: 402ms;
  left: 34vw;
}
.rain > div:nth-child(2) {
  -webkit-animation-delay: 200ms;
          animation-delay: 200ms;
  -webkit-animation-duration: 462ms;
          animation-duration: 462ms;
  left: 43vw;
}
.rain > div:nth-child(3) {
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  -webkit-animation-duration: 389ms;
          animation-duration: 389ms;
  left: 98vw;
}
.rain > div:nth-child(4) {
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
  -webkit-animation-duration: 548ms;
          animation-duration: 548ms;
  left: 4vw;
}
.rain > div:nth-child(5) {
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
  -webkit-animation-duration: 549ms;
          animation-duration: 549ms;
  left: 32vw;
}
.rain > div:nth-child(6) {
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
  -webkit-animation-duration: 403ms;
          animation-duration: 403ms;
  left: 52vw;
}
.rain > div:nth-child(7) {
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  -webkit-animation-duration: 594ms;
          animation-duration: 594ms;
  left: 5vw;
}
.rain > div:nth-child(8) {
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
  -webkit-animation-duration: 518ms;
          animation-duration: 518ms;
  left: 40vw;
}
.rain > div:nth-child(9) {
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
  -webkit-animation-duration: 493ms;
          animation-duration: 493ms;
  left: 8vw;
}
.rain > div:nth-child(10) {
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
  -webkit-animation-duration: 413ms;
          animation-duration: 413ms;
  left: 93vw;
}
.rain > div:nth-child(11) {
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
  -webkit-animation-duration: 573ms;
          animation-duration: 573ms;
  left: 59vw;
}
.rain > div:nth-child(12) {
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
  -webkit-animation-duration: 507ms;
          animation-duration: 507ms;
  left: 100vw;
}
.rain > div:nth-child(13) {
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
  -webkit-animation-duration: 384ms;
          animation-duration: 384ms;
  left: 6vw;
}
.rain > div:nth-child(14) {
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
  -webkit-animation-duration: 526ms;
          animation-duration: 526ms;
  left: 85vw;
}
.rain > div:nth-child(15) {
  -webkit-animation-delay: 1500ms;
          animation-delay: 1500ms;
  -webkit-animation-duration: 575ms;
          animation-duration: 575ms;
  left: 20vw;
}
.rain > div:nth-child(16) {
  -webkit-animation-delay: 1600ms;
          animation-delay: 1600ms;
  -webkit-animation-duration: 582ms;
          animation-duration: 582ms;
  left: 34vw;
}
.rain > div:nth-child(17) {
  -webkit-animation-delay: 1700ms;
          animation-delay: 1700ms;
  -webkit-animation-duration: 526ms;
          animation-duration: 526ms;
  left: 23vw;
}
.rain > div:nth-child(18) {
  -webkit-animation-delay: 1800ms;
          animation-delay: 1800ms;
  -webkit-animation-duration: 461ms;
          animation-duration: 461ms;
  left: 86vw;
}
.rain > div:nth-child(19) {
  -webkit-animation-delay: 1900ms;
          animation-delay: 1900ms;
  -webkit-animation-duration: 421ms;
          animation-duration: 421ms;
  left: 9vw;
}
.rain > div:nth-child(20) {
  -webkit-animation-delay: 2000ms;
          animation-delay: 2000ms;
  -webkit-animation-duration: 588ms;
          animation-duration: 588ms;
  left: 69vw;
}
.rain > div:nth-child(21) {
  -webkit-animation-delay: 2100ms;
          animation-delay: 2100ms;
  -webkit-animation-duration: 392ms;
          animation-duration: 392ms;
  left: 96vw;
}
.rain > div:nth-child(22) {
  -webkit-animation-delay: 2200ms;
          animation-delay: 2200ms;
  -webkit-animation-duration: 550ms;
          animation-duration: 550ms;
  left: 92vw;
}
.rain > div:nth-child(23) {
  -webkit-animation-delay: 2300ms;
          animation-delay: 2300ms;
  -webkit-animation-duration: 576ms;
          animation-duration: 576ms;
  left: 65vw;
}
.rain > div:nth-child(24) {
  -webkit-animation-delay: 2400ms;
          animation-delay: 2400ms;
  -webkit-animation-duration: 571ms;
          animation-duration: 571ms;
  left: 90vw;
}
.rain > div:nth-child(25) {
  -webkit-animation-delay: 2500ms;
          animation-delay: 2500ms;
  -webkit-animation-duration: 562ms;
          animation-duration: 562ms;
  left: 45vw;
}
@-webkit-keyframes rain {
  from {
    -webkit-transform: rotate(0deg) translateY(-20vh);
            transform: rotate(0deg) translateY(-20vh);
  }
  to {
    -webkit-transform: rotate(0deg) translateY(120vh);
            transform: rotate(0deg) translateY(120vh);
  }
}
@keyframes rain {
  from {
    -webkit-transform: rotate(0deg) translateY(-20vh);
            transform: rotate(0deg) translateY(-20vh);
  }
  to {
    -webkit-transform: rotate(0deg) translateY(120vh);
            transform: rotate(0deg) translateY(120vh);
  }
}
