@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap&subset=japanese');

body{
  font-family: 'Roboto', 'Noto Sans JP' , sans-serif;
  font-size: 15px;
  /* font-weight: normal; */
}
table{
  /* border-collapse: separate;
  border-radius: 2%;
  overflow: hidden;
  border: 0px solid #497285;
  border-spacing: 0; */
  border-collapse: collapse;

  table-layout: fixed;
  width: 100%;
  background-color: #fff;
  line-height: 60%;
  text-align:center;
}

table th{
  font-size: 0.8em;
  font-weight: normal;
  line-height: 0;
  background-color: #fff;
}
/* table td:nth-child(5){
  border-right: 2px solid #0c81e4
} */

table th,table td{
  padding: 15px 0;
  /* margin: 5px auto; */
  border-bottom: 2px solid #fff;
  background-color: #fafafa;
}
/*
table tr:not(:first-child){
} */

table th:nth-child(1){
  width: 9%;
}
table th:nth-child(3){
  width: 18%;
}
table th:nth-child(4){
  width: 18%;
}



table td:nth-child(1){
  color: #fff;
  background: #0c81e4;
  font-size: 1.1em;
}

table td:nth-child(3){
  color: #999;
  font-size: 0.8em;
}

span{
  background-color: #4fe7af;
  color: #fff;
  padding:  0.3em 1.5em;
  border-radius: 5em;
  font-size: 0.8em;
}


table tr:hover{
  background-color: #d4f0fd;
}
