

/* .wrap {
  padding: 20px;
}

.label {
  background: #fff;
  display: block;
  width: 20%;
  text-align: center;
  position: relative;
  z-index: 1;
  border: 1px solid #aaa;
  float: left;
  font-size: 1.5em;
  font-family: "Roboto", "Noto Sans JP", sans-serif;
  padding: 14px 0;
  line-height: 1;
}
.label + .label {
  border-left: none;
}
.label:first-child{
  border-top-left-radius: 6px;
	border-bottom-left-radius: 6px;
}
.label:last-child{
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

input {
  appearance: none;
  -webkit-appearance: none;
  display: block;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
}
input:checked {
  background: #a6ce39;
  /* box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4) inset; */
}
input:focus {
  outline: none;
}
.wrap::after{
  content: '';
  display: block;
  clear: both;
} */
