@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap&subset=japanese');

body{
  font-family: 'Roboto', 'Noto Sans JP' , sans-serif;
  font-size: 15px;
}

header{
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* border: 0.5px solid  #aaa; */
  background-color: white;
  box-shadow: 0 2px 5px -1px gray;
  position: fixed;
  z-index: 0;
}

#logo{
  width: 80px;
  /* object-fit: contain; */
  margin: 5px 15px;
}

#nav {
  list-style: none;
  text-align: center;
  padding-right: 5px;
}

#nav li{
  display: inline-block;
  padding: 1px 5px;
  margin: 0 5px;
  border-bottom: 2px solid #55D0FF;
}


#nav li a{
  text-decoration: none;
  color: black;
}

#hero img{
  padding-top: 50px;
  width: 100%;
}

.headder {
  text-align: center;
}


.event-select{
  display: flex;
  justify-content: space-around;
}


.dropbtn {
  min-width: 70px;
  font-size: 1.2em;
  background-color: #11c4d4;
  color: white;
  padding: 10px;
  border: solid 0.5px white;
  border-bottom: solid 4px #0c4e8c;
  border-radius: 9px;
}

.dropdown {
  position: relative;
  /* display: inline-block; */
}

.dropdown-content {
  text-align: center;
  display: none;
  position: absolute;
  background-color: #DDF5FF;
  min-width: 100%;
  z-index: 1;
}

.dropdown-content a {
  border: solid 0.5px white;
  color: black;
  padding: 10px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #ddd;}

.dropdown:hover .dropdown-content {display: block;}

.dropdown:hover .dropbtn {background-color: #0c4e8c;}
