@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap&subset=japanese');

body{
  font-family: 'Roboto', 'Noto Sans JP' , sans-serif;
  font-size: 15px;
  display: flex;
  flex-direction: column;
  min-height: 90vh;
}

header{
  height: 10vh;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-content: center;
  align-items: center;
  /* border: 0.5px solid  #aaa; */
  background-color: white;
  box-shadow: 0 2px 5px -1px gray;
  position: fixed;
  z-index: 0;
}

#logo{
  width: 80px;
  /* object-fit: contain; */
  margin: 5px 15px;
}

#nav {
  list-style: none;
  text-align: center;
  padding-right: 5px;
}

#nav li{
  display: inline-block;
  padding: 1px 5px;
  margin: 0 5px;
  border-bottom: 2px solid #55D0FF;
}


#nav li a{
  text-decoration: none;
  color: black;
}

#hero img{
  padding-top: 10vh;
  width: 100%;
}

#count-record {
  position: relative;
  text-align: center;
  font-size: 1.2em;
  padding: 10px;
  line-height: 1.5;
  background-color: #c8eff4;
  z-index: -2
}

.back figure{
  position: absolute;
  top: 20px;
  left: 80px;
  width: 10vw;
  height: 1pt;
  background-color: #fff;
  z-index: -1;

  animation: arrow 500ms linear infinite;
}

.back figure:nth-child(1){
  top: 13%;
  animation-delay: 100ms;
  animation-duration: 300ms;
}

.back figure:nth-child(2){
  top: 29%;
  animation-delay: 400ms;
  animation-duration: 600ms;
}

.back figure:nth-child(3){
  top: 35%;
  animation-delay: 200ms;
  animation-duration: 500ms;
}

.back figure:nth-child(4){
  top: 58%;
  animation-delay: 500ms;
  animation-duration: 400ms;
}

.back figure:nth-child(5){
  top: 89%;
  animation-delay: 300ms;
  animation-duration: 500ms;
}


@-webkit-keyframes arrow {
  from {
    -webkit-transform: translateX(-20vw);
            /* transform: rotate(0deg) translateY(-20vh); */
  }
  to {
    -webkit-transform: translateX(100vw);
            /* transform: rotate(0deg) translateY(120vh); */
  }
}

#target{
  font-size: 2em;
}

#category{
  padding: 15px;
  text-align: center;

}

.buttons{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 5px;
}

.button {
  display: inline-block;
  width: 40%;
  height: 45px;
  margin: 5px;
  text-decoration: none;
  outline: none;
  position: relative;
  z-index: 2;
  background-color: #fff;
  border: 2px solid #333;
  color: #333;
  line-height: 40px;
  overflow: hidden;
}
.button:hover {
  color: #fff;
}
.button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
  top: -100%;
  width: 100%;
  height: 100%;
}
.button:hover::after {
  top: 0;
  background-color: #333;
}

.button,
.button::before,
.button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

footer{
    margin-top: auto;
    font-size: 80%; /*フォントサイズの指定*/
    width: 100%;    /*横幅の指定*/
    text-align: center; /*文字の中央寄せ*/
    padding: 15px;
    background-color: #313131;  /*背景色の指定*/
}
footer p{
    color: #fff;    /*文字色の指定*/
    letter-spacing: 5px;    /*文字と文字の間隔をあける*/
}
