@import url('https://fonts.googleapis.com/css?family=Noto+Sans+JP|Roboto&display=swap&subset=japanese');

body {
  font-family: 'Roboto', 'Noto Sans JP' , sans-serif;
  /* overflow: auto; */
  background-color: #f4f4f4ee
}

nav {
  padding: 10px;
  /* border-bottom: 0.3px solid #bbb; */
  background-color: #222;
  max-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 80px;
}




/* 検索ボックス */
#search-container {


}
#search-container input:first-child {
  border: 0.5px #aaa solid;
  border-radius: 8px;
  height: 50%;
  width: 100%;
  max-width: 400px;
  padding: 5px 10px;
  margin-right: 10px;
  font-size: 14px;
  background-color: #3337;
  outline: none;
}
#search-container input:first-child:focus {
  background-color: #eee;
  color: #eee;
}




#search {
  width: 50%;
  max-width: 200px;
  display: flex;
  margin-right: 10px;
  font-size: 12px;
}
#search input:first-child {
  border-bottom: 0.5px #aaa solid;
  outline: 0;/*クリック時の青い枠線消す*/
  background-color: none;
  height: 50%;
}
/*検索ボタン*/
#sbtn{
width:70px;/*検索ボタンの横幅*/
height:50px;/*検索ボタンの縦幅*/
/* top:0; */
border-radius:0 2px 2px 0;/*検索ボタンの角を丸める*/
background:#7fbfff;/*検索ボタンの背景カラー*/
border:none;/*検索ボタンの枠線を消す*/
color:#fff;/*検索ボタンのテキストカラー*/
font-weight:bold;/*検索ボタンのテキスト太字*/
font-size:16px;/*検索ボタンのフォントサイズ*/
}
/*検索ボタンマウスオーバー時*/
#sbtn:hover{
color:#666;/*検索ボタンマウスオーバー時のフォントカラー*/
}



/* 選手名 */
#swimmer-info {
  padding: 12px 0;
  display: flex;
  align-items: center;
  background-color: white;
}

#p-icon {
  width: 60px;
  height: 60px;
  margin: 0 18px;
}

h1 {
  font-size: 25px;
  letter-spacing: 3px;
  font-weight: 600;
  line-height: 1.2;
}

#tips span {
  font-size: 11px;
  background-color: #FFB300;
  color: white;
  padding: 1.2px 8px;
  border-radius: 5px;

}

#tips span.univ {
  background-color: #1E88E5;
  margin-right: 2px;
}

/* 数枚のカード全体を囲む */
.cards {
  width: 90%;
  margin: auto;
  padding-top: 20px;
  max-width: 700px;
}
.card {
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 2px 5px #ccc;
}

/* 各種目の出場回数などを表示する段 */
#participate {
  display: flex;
  justify-content: space-between;
}
#radar-container {
  width: 70%;
  max-width: 400px;
  padding: 10px 0;
}
#participate .column {
  width: 28%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
#participate .column .card {
  width: 100%;
  /* max-width: 400px; */
  padding: 6px 12px;
  height: 23%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#participate .card .caption {
  font-size: 10px;
  color: #aaa;
}
#participate .card .data {
  font-size: 27px;
  font-weight: bold;
  line-height: 1.3;
  color: #37474F;
}
#participate .card .times::after {
  content: " 回";
  font-size: 12px;
}
#participate .card .s1 {
  font-size: 25px;
}

#condition {
  width: 100%;
  margin-top: 10px;
}

#line-container {
  padding: 10px;
}




/* フッター */
::selection {
  background-color: salmon;
  color: white;
}

.parallax > use {
  animation: move-forever 12s linear infinite;
}
.parallax > use:nth-child(1) {
  animation-delay: -2s;
}
.parallax > use:nth-child(2) {
  animation-delay: -2s;
  animation-duration: 5s;
}
.parallax > use:nth-child(3) {
  animation-delay: -4s;
  animation-duration: 3s;
}

@keyframes move-forever {
  0% {
    transform: translate(-90px, 0%);
  }
  100% {
    transform: translate(85px, 0%);
  }
}
.editorial {
  display: block;
  width: 100%;
  height: 20em;
  max-height: 50vh;
  margin: 20vh 0 0 0;
}

.content {
  text-align: center;
  background-color: #2d55aa;
  text-align: center;
  min-height: 10vh;
  margin: -.1em 0 0 0;
  padding: 1em;
  color: #eee;
  font-size: 1.2em;
  font-weight: 500;
}





/*prevent many large-by-comparison ripples by shrinking the height*/
@media (max-width: 50em) {
  .content h1 {
    font-size: 12vmax;
  }

  .editorial {
    height: 17vw;
  }
}
