body {
  /* background-color: #f4f4f4; */
  /* background-color: #EDF3F3;  */
}
#header {
  width: 100%;
  background-color: white;
  /* box-shadow: 0 2px 5px #ccc; */
  /* padding-bottom: 20px; */
}
#header h1 {
  text-align: center;
  font-weight: 100;
  padding: 20px 0;
  font-size: 3rem;
}
#caption {
  margin-top: 20px;
  padding-left: 30px;
  position: relative;
}
#caption {
  font-weight: normal;
  font-size: 1.4rem;
  line-height: 1.5;
  color: #222;
  letter-spacing: 1px;
  margin-bottom: 10px;
}
#caption p:first-child::before {
  content: "";
  background-color: var(--c-water);
  height: 100%;
  width: 10px;
  position: absolute;
  left: 10px;
}


/* セレクト */
#style-buttons .row {
  margin: 3px 10px;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 5px;
  color: white;
  padding: 6px 15px 6px 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
#style-buttons #fr .column {
  display: flex;
  flex-direction: column;
  width: 20%;
}
#style-buttons span {
  display: inline-block;
  width: 35%;
}
#style-buttons a {
  font-weight: 550;
  display: inline-block;
  background-color: #fefefe44;
  /* border: 0.5px #eee solid; */
  border-radius: 5px;
  padding: 8px 0;
  letter-spacing: 1px;
  /* box-shadow: 2px 2px #6664; */
  text-decoration: none;
  color: white;
}
#style-buttons a:hover {
  background-color: transparent;
  border: 1px #eee solid;
}
#style-buttons #fr a {
  margin: 3px 0;
  width: 100%;
}
#style-buttons .row:not(:first-child) a {
  width: 20%;
}
#style-buttons #fr {
  background-color: var(--c-fr);
}
#style-buttons #ba {
  background-color: var(--c-ba);
}
#style-buttons #br {
  background-color: var(--c-br);
}
#style-buttons #fly {
  background-color: var(--c-fly);
}
#style-buttons #im {
  background-color: var(--c-im);
}


/* カテゴリ選ぶタブみたいなやつ */
#tab {
  margin-top: 20px;
  padding: 0 10px;
  display: flex;
  justify-content: space-around;
  border-bottom: .5px #ddd solid;
}
#tab div {
  display: inline-block;
  width: 22%;
  text-align: center;
  /* height: 50px; */
  /* padding-bottom: 5px; */
  /* box-sizing: border-box; */
}
#tab div.selected .men{
  border-bottom: 4px var(--c-men) solid;
}
#tab div.selected .women{
  border-bottom: 4px var(--c-women) solid;
}
#tab div a {
  text-decoration: none;
  font-size: 1.3rem;
  display: inline-block;
  width: 100%;
  height: 100%;
  color: black;
}


/* フィルターボタン */
#filter {
  margin: 20px 10px;
  border: .8px #ddd solid;
  position: relative;
  padding: 10px;
}
#filter p {
  position: absolute;
  font-size: 1.4rem;
  top: -10px;
  left: 20px;
  width: 50px;
  text-align: center;
  background-color: white;
  color: #555;
}
#filter div {
  background-color: var();
  /* width: 100px; */
  padding: 5px;

}
#filter div a {
  text-decoration: none;
  font-size: 1.6rem;
  color: white;
  width: 100%;
  height: 100%;

}
